* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1544198365-f5d60b6d8190?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTY4NDQ2NTE2NA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
}

.container {
    background-color: #33FFCA;
    padding: 50px 25px 50px 25px;
    border-radius: 20px;
    width: 95%;
    max-width: 500px;
    opacity: 0.9;
}


#city-input {
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    background-color:white;
    color: black;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: calc(100% - 75px);
    text-transform: capitalize;
    opacity: 1;
}

.caixa{
    border: 1px solid white;
    border-radius: 25px;
    padding-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 1;
}
button{
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 50px;
    background-color: #7c7c7c2b ;
    cursor: pointer;
    float: right;
    border: 1px solid white;
    opacity: 1;
}

.img_buscar{
    width: 25px;
    color: black;
}

.fundo{
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
}


h2{
    color: black;
    float: left;
    font-size: 28px;
    font-weight: 300;
}

.temp{
    font-size: 20px;
    color: black;
    margin-top: 20px;
}

.container_min{
    display: flex;
    align-items: center;
}

.imgtemp{
    margin-left: 20px;
    border-radius: 50px;
    background-color: #33FFCA;
    
}


.clima{
    color: black;
    text-transform: uppercase;
    
}

.umidade{
    margin-top: 15px;
}