* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(img/pexels-magda-ehlers-2114014.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cabecalho {
    font-weight: 300;
    font-size: 25px;
    margin-left: 80px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.cabecalho-text {
    color: white;
}

.form-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 0.9;
    margin-bottom: 15px;
}

.form-header input {
    padding: 10px;
    flex: 0.5;
    border: 0.5px white solid;
    border-radius: 21px;
    text-transform: capitalize;
    background-color: black;
    color: white;
    opacity: 60%;

}

.form-header button {
    padding: 10px;
    min-width: 50px;
    margin-left: 8px;
    background-color: #fff;
    color: #000;
    border: 0.5px solid #000;
    border-radius: 20px;
    cursor: pointer;
}

hr {
    width: 90%;
    margin: 5px auto;
    border: none;
    height: 1px;
    background-color: #fff;
}

.hide {
    display: none !important;
}


section{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
}

.container {
    background-color: #000;
    opacity: 90%;
    padding: 2rem;
    border-radius: 40px;
    width: 95%;
    max-width: 500px;
    opacity: 70%;
    color: #fff;
}

#weather-data {
    padding-top: none;
    text-align: center;
    font-weight: 100;
}

#weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
    font-weight: 100;
    font-size: 60px;
}

#weather-data h2 i {
    font-size: 1rem;
}

#weather-data span {
    margin: 0.6rem;
}

#city {
    margin-left: 5px;
    margin-right: 5px;
}

#country {
    height: 25px;
}


#details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#details-container #umidity {
    margin: 0.6rem;
    padding: 0.6rem;
}

#temperature {
    font-size: 70px;
    font-weight: 300;
    font-stretch: ultra-condensed;
}

#description {
    text-transform: uppercase;
    margin-top: 0;
}